.btn {
    width: 80px;
    height: 25px;
    border-radius: 8px;
    border: 2px solid var(--blue-color-3);
    color: var(--blue-color-2);
    font-family: var(--font);
    font-weight: 600;
    background-color: white;
    text-align: center;
}



