/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #bababa #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }


body {
    background-color: var(--background-color);

}

header {
    height: 130px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: var(--header-color);
}



.header_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 80px;

}

.logo_negreiros {
    width: 250px;
    height: 250px;
}

a{
    text-decoration: none;
}

.header_div_btn {
    position: relative;
    bottom: 80px;
}

.section_first_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px;
}

.section_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.text_about {
    color: var(--grey-color);
    text-align: center;
    font-family: var(--font);
    width: 280px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 22px;
}

.text_resume {
    color: var(--grey-color);
    text-align: center;
    font-family: var(--font);
    width: 280px;
    font-weight: 100;
    font-size: 0.8rem;
}


.man_work {
    position: relative;
    bottom: 40px;
    width: 260px;
    height: 50vh;
    object-fit: cover;
}


.div_arrow {
    position: relative;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 30px;
    height: 30px;
    animation: growDown 5000ms ease-in-out forwards;
    transform-origin: top center;
}


@keyframes growDown {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }

    50% {
        transform: rotateX(-20deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.div_input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 60px;
    gap: 10px;
}

.input_search {
    width: 75vw;
    height: 40px;
    border: 1px solid var(--grey-color);
    border-radius: 30px;
    padding-left: 10px;
    text-align: left;
    font-family: var(--font);
}

.search_btn{
    border-radius: 10px;
    width: 12vw;
    height: 40px;
    border: none;
    background-color: #032E7E;
}


.icon_search{
    width: 25px;
    height: 25px;
}


.div_text_info_company{
   margin: 17px;
   position: relative;
   bottom: 30px;
}

.text_company{
    text-align: center;
    font-family: var(--font);
}

.cards_complete_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
    width: 300px;
    height: 130px;
    margin: 20px;
}

.div_border{
    border-bottom: 2px solid var(--blue-color-4);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name_company{
    font-family: var(--font);
    position: relative;
    bottom: 10px;
    color: var(--blue-color-4);
    font-weight: bold;
    text-align: center;
}

.name_department{
    font-family: var(--font);
    text-align: center;
}

.quality{
    font-family: var(--font);
    text-align: center;
}


@media(min-width: 768px) {
    header {
        height: 90px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    .header_div {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header_div_btn {
        position: static;
        bottom: 0px;
        margin-right: 20px;
        display: flex;
        gap: 15px;
    }

    .section_first_div {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 70vh;
    }

    .man_work {
        width: 40vw;
        height: 50vh;
        object-fit: cover;
        position: static;
        bottom: 0px;
    }

    .section_text {
        margin-left: 75px;
        gap: 60px;
    }

    .text_about {
        color: var(--grey-color);
        text-align: left;
        font-family: var(--font);
        width: 35vw;
        font-weight: 600;
        font-size: 2rem;
        line-height: 35px;
    }

    .text_resume {
        color: var(--grey-color);
        text-align: left;
        font-family: var(--font);
        width: 35vw;
        font-weight: 100;
        font-size: 1rem;
    }

    .input_search {
        width: 35vw;
    }

    .div_input {
        position: relative;
        top: 50px;
    }


    .div_arrow {
        position: relative;
        bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow {
        width: 45px;
        height: 45px;
    }

    
.search_btn{
    border-radius: 10px;
    width: 55px;
    height: 45px;
    border: none;
    background-color: #032E7E;
}

.div_text_info_company{
    margin: 17px;
    position: relative;
    bottom: 0px;
    top: 80px;
 }


 .cards_complete_div{
    position: relative;
    top: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card_bg{
    border-radius: 10px;
    width: 300px;
    height: 180px;
    gap: 30px;
    
}

.div_border{
    width: 300px;
}

.name_company{
    font-family: var(--font);
    position: relative;
    bottom: 10px;
    color: var(--blue-color-4);
    font-weight: bold;
}

  
}